*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  width: 100%;
}

a {
  color: #000000;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

ul {
  padding-left: 1.5em;
  list-style-type: disc;
}

ul li::marker {
  font-size: 0.65em;
}
